.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
    background-color:white;
    color:white;
   
 
     
    footer{
        position: fixed;
        background-color: black;
        margin: 0;
        width: 140%;
        bottom: 0;
        color: #FFFFFF;
        text-align: center;
        font-size: 0.7em;
        font-family: cursive;
            
    }


}

.loginlogo{
    cursor: pointer;
img{
    width:100%;
    display: flex;
    height:auto;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    transform:scale(0.9);
  backface-visibility: hidden;
  
}

img:hover{
    transform: scale(1);
    

}

h2{
    font-family:'Roboto';
    font-size: 50px;
    position:absolute;
    align-items: center;
    justify-content: center;
    top:25%;
    left:40%;
    
}
}

.inputUserLogin{
    display: flex;
    align-items: center;
    color:gray;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
    width:98%;
    height: 50px;
    margin-top:5 3px;

 svg{
    margin-left: 10px;
    font-size:larger
}

input{
    background:transparent;
    width: 100%;
    outline-width: 0;
    color:black;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 25px;
}

}

.inputPassLogin{
    display: flex;
    align-items: center;
    color:gray;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
    width:98%;
    height: 50px;

  input{
    background:transparent;
    width: 100%;
    outline-width: 0;
    color:black;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    
}

svg{
    margin-left: 10px;
    font-size:larger
}

}

.loginRight{
    background-color:white;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;

}

.loginRight {


    button{
    width:98%;
    background-color:black;
    font-weight: 800;
    height: 50px;
    color:white;
    border-radius:5px;
    font-size:15px;
    margin-top:15px;
    border:none;
    outline:none;
    }
    button:hover{
        background-color: #171719;
        cursor:pointer;
        border:none;
        outline-width: 0;
    }
    
    

}



